* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border-radius: 25px;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px 10px rgb(0, 0, 0, 0.2);
}

.linha-vertical {
    width: 2px;
    height: 45vh;
    color: black;
}

.opcoes-login, .form-login {
    width: 250px;
    height: 200px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.botao a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    background-color:#9833e0;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    transition: 0.3s ease;
    text-decoration: none;
}

.botao:hover a {
    background-color: indigo;
    transform: scale(1.1);
}

.titulo-login {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgba(152, 51, 224, 1) 95%, rgba(255, 255, 255, 0) 99%);
    border-radius: 25px 0 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #ffffff;
}

.opcoes-login > a {
    font-size: 12px;
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
    position: relative;
    top: 20px;
}

.opcoes-login > a:hover {
    transform: scale(1.1);
}

/* Login */

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    margin-left: -30px;
    padding: 10px;
    gap: 8px;
    margin-right: 10px;
}

label {
    display: flex;
    align-self: flex-start;
    font-weight: bold;
}

.titulo-acesso {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgba(152, 51, 224, 1) 75%, rgba(255, 255, 255, 0) 80%);
    border-radius: 25px 0 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    color: #ffffff;
    padding-left: 35px;
}

.form-login button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color:#9833e0;
    color: white;
    font-size: 14px;
    border-radius: 25px;
    transition: 0.3s ease;
    text-decoration: none;
    margin-top: 5px;
    align-self: flex-end;
} 

.form-login button:hover {
    background-color: indigo;
    transform: scale(1.1);
}

.form-login input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-style: solid;
    padding-left: 5px;
}